#abody1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(0deg,grey,darkgray);
}

#abody2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(90deg, Red, Orange, Yellow, Green, Blue, Indigo,violet);
}



#textchecker {
    color: white;
    background-color: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#textchecker1 {
    color: white;
    background-color: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#strokewhite {
    color: black;
    outline-style: solid;
    outline-width: 2.5px;
    background-color: white;
    border-radius: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#strokebutton1 {
    color: black;
    outline-style: solid;
    outline-width: 2.5px;
    background-color: white;
    border-radius: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#coolbutton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(#ffffff, #c6c6c6);
    color: black;
    outline-style: solid;
    outline-width: 2.5px;
    background-color: white;
    border-radius: 1px;
    transition: 0.3s;
    transition-timing-function: ease;
}

#coolbutton:hover {
    cursor: pointer;
    background:linear-gradient(#c6c6c6, #8b8b8b);
}

#coolbuttoncool {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(#ffffff, #c6c6c6);
    color: black;
    outline-style: solid;
    outline-width: 2.5px;
    background-color: white;
    border-radius: 1px;
    transition: 0.3s;
    transition-timing-function: ease;
}

#coolbuttoncool:hover {
    cursor: pointer;
    background:linear-gradient(#c6c6c6, #8b8b8b);
}